@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply border-black/10 dark:border-white/10;
}

body {
	padding: 0 !important;
	margin: 0 !important;
}

.btn {
	@apply dark:bg-secondaryDark bg-secondaryLight;
	@apply flex items-center justify-center gap-2;
	@apply text-sm;
	@apply py-1 px-4 border rounded;
	@apply !text-black/60 dark:!text-white/60;
	@apply transition-all duration-200;
}

.btn:hover {
	@apply !text-black/80 dark:!text-white/80;
	@apply dark:bg-secondaryDarkHover bg-secondaryLightHover;
	@apply border-black/30 dark:border-white/30;
}

.input {
	@apply !text-black/80 dark:!text-white/80;
	@apply border rounded;
	@apply py-1 px-2;
	@apply text-sm;
	@apply bg-secondaryLight dark:bg-secondaryDark;
}
.input:focus {
	@apply outline-none;
	@apply border-black/30 dark:border-white/30;
}
.input-with-icon {
	@apply sm:pl-8 !important;
}

.badge {
	@apply text-xs border px-2 sm:px-2.5  rounded-full font-mono;
	@apply bg-secondaryLight dark:bg-secondaryDark;
}

.cm-editor {
	@apply !text-[#1e1e1e] dark:!text-[#d4cfbf];
	font-size: 15px;
	width: 100%;
	height: calc(100vh - 104px);
	background-color: transparent !important;
}

.cm-gutters {
	@apply !border-black/10 dark:!border-white/10;
	background-color: transparent !important;
}

.cm-gutterElement {
	background-color: transparent !important;
}
.cm-foldGutter {
	background-color: transparent !important;
}
.cm-activeLine {
	@apply !bg-secondaryLightHover dark:!bg-secondaryDarkHover;
}
.ͼc {
	/* bool in codemirror */
	@apply !text-[#1c6b48];
}
.ͼe {
	/* string in codemirror */
	@apply !text-[#b56959] dark:!text-[#d48372];
}
.ͼd {
	/* number in codemirror */
	@apply !text-[#296aa3] dark:!text-[#6394bf];
}
.ͼ4 {
	color: red;
}

.cm-cursor {
	@apply !border-[#393a34] dark:!border-[#d4cfbf];
}

.cm-selectionBackground {
	@apply !bg-secondaryLightHover dark:!bg-secondaryDarkHover;
}

.heading {
	font-family: 'Noto Sans', sans-serif;
}
